# Gather Section (20 Questions, 40 Marks)

You should have access to a file called TMDB.db. The first step to answering this set of questions will be to connect to this db file to access the data. 

![SQL Architectures](https://raw.githubusercontent.com/Explore-AI/Public-Data/master/image/TMDB_ERD.JPG)

Before we start we need to load our SQL magic commands (we only need do this once per notebook):

In [1]:
%load_ext sql

In [5]:
%%sql
SELECT *
FROM movies
LIMIT 10;

 * sqlite:///TMDB.db
Done.

[(5, 'Four Rooms', '1995-12-09 00:00:00.000000', 4000000, None, 'en', 'Four Rooms', "It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.", 22.87623, 4300000.0, 98.0, 'Released', "Twelve outrageous guests. Four scandalous requests. And one lone bellhop, in his first day on the job, who's in for the wildest New year's Eve of his life.", 6.5, 530),
 (11, 'Star Wars', '1977-05-25 00:00:00.000000', 11000000, 'http://www.starwars.com/films/star-wars-episode-iv-a-new-hope', 'en', 'Star Wars', 'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker a ... (14 characters truncated) ... tain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.', 126.393695, 775398007.0, 121.0, 'Released', 'A long time ago in a galaxy far, far away...', 8.1, 6624),
 (12, 'Finding Nemo', '2003-05-30 00:00:00.000000', 94000000, 'http://movies.disney.com/finding-nemo', 'en', 'Finding Nemo', "Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome ... (35 characters truncated) ... orgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.", 85.688789, 940335536.0, 100.0, 'Released', "There are 3.7 trillion fish in the ocean, they're looking for one.", 7.6, 6122),
 (13, 'Forrest Gump', '1994-07-06 00:00:00.000000', 55000000, None, 'en', 'Forrest Gump', "A man with a low IQ has accomplished great things in his life and been present during significant historic events - in each case, far exceeding what  ... (108 characters truncated) ... rest Gump' is the story of a man who rose above his challenges, and who proved that determination, courage, and love are more important than ability.", 138.133331, 677945399.0, 142.0, 'Released', "The world will never be the same, once you've seen it through the eyes of Forrest Gump.", 8.2, 7927),
 (14, 'American Beauty', '1999-09-15 00:00:00.000000', 15000000, 'http://www.dreamworks.com/ab/', 'en', 'American Beauty', "Lester Burnham, a depressed suburban father in a mid-life crisis, decides to turn his hectic life around after developing an infatuation with his daughter's attractive friend.", 80.878605, 356296601.0, 122.0, 'Released', 'Look closer.', 7.9, 3313),
 (16, 'Dancer in the Dark', '2000-05-17 00:00:00.000000', 12800000, None, 'en', 'Dancer in the Dark', "Selma, a Czech immigrant on the verge of blindness, struggles to make ends meet for herself and her son, who has inherited the same genetic disorder  ... (121 characters truncated) ... her love of musicals, escaping life's troubles - even if just for a moment - by dreaming up little numbers to the rhythmic beats of her surroundings.", 22.022228, 40031879.0, 140.0, 'Released', "You don't need eyes to see.", 7.6, 377),
 (18, 'The Fifth Element', '1997-05-07 00:00:00.000000', 90000000, None, 'en', 'The Fifth Element', 'In 2257, a taxi driver is unintentionally given the task of saving a young girl who is part of the key that will ensure the survival of humanity.', 109.528572, 263920180.0, 126.0, 'Released', 'There is no future without it.', 7.3, 3885),
 (19, 'Metropolis', '1927-01-10 00:00:00.000000', 92620000, None, 'de', 'Metropolis', "In a futuristic city sharply divided between the working class and the city planners, the son of the city's mastermind falls in love with a working class prophet who predicts the coming of a savior to mediate their differences.", 32.351527, 650422.0, 153.0, 'Released', 'There can be no understanding between the hands and the brain unless the heart acts as mediator.', 8.0, 657),
 (20, 'My Life Without Me', '2003-03-07 00:00:00.000000', 0, 'http://www.clubcultura.com/clubcine/clubcineastas/isabelcoixet/mividasinmi/index.htm', 'en', 'My Life Without Me', 'A Pedro Almodovar production in which a fatally ill mother with only two months to live creates a list of things she wants to do before she dies with out telling her family of her illness.', 7.958831, 9726954.0, 106.0, 'Released', None, 7.2, 77),
 (22, 'Pirates of the Caribbean: The Curse of the Black Pearl', '2003-07-09 00:00:00.000000', 140000000, 'http://disney.go.com/disneyvideos/liveaction/pirates/main_site/main.html', 'en', 'Pirates of the Caribbean: The Curse of the Black Pearl', "Jack Sparrow, a freewheeling 17th-century pirate who roams the Caribbean Sea, butts heads with a rival pirate bent on pillaging the village of Port Royal. When the governor's daughter is kidnapped, Sparrow decides to help the girl's love save her. But their seafaring mission is hardly simple.", 271.972889, 655011224.0, 143.0, 'Released', 'Prepare to be blown out of the water.', 7.5, 6985)]

In [4]:
%%sql
SELECT *
FROM languages;

 * sqlite:///TMDB.db
Done.

[('af', 'Afrikaans'),
 ('am', None),
 ('ar', '???????'),
 ('bg', '????????? ????'),
 ('bm', 'Bamanankan'),
 ('bn', '?????'),
 ('bo', None),
 ('br', None),
 ('bs', 'Bosanski'),
 ('ca', 'Catala'),
 ('ce', None),
 ('cn', '??? / ???'),
 ('co', None),
 ('cs', '?esk²'),
 ('cy', 'Cymraeg'),
 ('da', 'Dansk'),
 ('de', 'Deutsch'),
 ('dz', None),
 ('el', '????????'),
 ('en', 'English'),
 ('eo', 'Esperanto'),
 ('es', 'Espa±ol'),
 ('et', 'Eesti'),
 ('fa', '?????'),
 ('fi', 'suomi'),
 ('fr', 'Frantais'),
 ('ga', 'Gaeilge'),
 ('gd', None),
 ('gl', 'Galego'),
 ('he', '????????'),
 ('hi', '??????'),
 ('hr', 'Hrvatski'),
 ('hu', 'Magyar'),
 ('hy', None),
 ('id', 'Bahasa indonesia'),
 ('is', '-slenska'),
 ('it', 'Italiano'),
 ('iu', None),
 ('ja', '???'),
 ('ka', '???????'),
 ('kk', '?????'),
 ('km', None),
 ('ko', '???/???'),
 ('ku', None),
 ('kw', None),
 ('ky', '??????'),
 ('la', 'Latin'),
 ('mi', None),
 ('ml', None),
 ('mn', None),
 ('ne', None),
 ('nl', 'Nederlands'),
 ('no', 'Norsk'),
 ('nv', None),
 ('ny', None),
 ('pa', '??????'),
 ('pl', 'Polski'),
 ('ps', '????'),
 ('pt', 'PortuguOs'),
 ('ro', 'RomGn?'),
 ('ru', 'P??????'),
 ('sa', None),
 ('sh', None),
 ('si', None),
 ('sk', 'Sloven?ina'),
 ('sl', 'SlovenÜ?ina'),
 ('so', 'Somali'),
 ('sq', 'shqip'),
 ('sr', 'Srpski'),
 ('st', None),
 ('sv', 'svenska'),
 ('sw', 'Kiswahili'),
 ('ta', '?????'),
 ('te', '??????'),
 ('th', '???????'),
 ('tl', None),
 ('to', None),
 ('tr', 'Tnrkte'),
 ('uk', '???????????'),
 ('ur', '????'),
 ('vi', 'Ti?ng Vi?t'),
 ('wo', 'Wolof'),
 ('xh', None),
 ('xx', 'No Language'),
 ('yi', None),
 ('zh', '???'),
 ('zu', 'isiZulu')]

In [4]:
pip install sqlalchemy==1.4.4

Collecting sqlalchemy==1.4.4Note: you may need to restart the kernel to use updated packages.

  Using cached SQLAlchemy-1.4.4-cp311-cp311-win_amd64.whl
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\envs\pyhton\lib\site-packages (from sqlalchemy==1.4.4) (3.0.1)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.31
    Uninstalling SQLAlchemy-2.0.31:
      Successfully uninstalled SQLAlchemy-2.0.31
Successfully installed sqlalchemy-1.4.4

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\hp\anaconda3\envs\pyhton\Lib\site-packages\~-lalchemy'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.4 which is incompatible.

In [ ]:
pip install ipython-sql

*Note: we have to prepend a Jupyter notebook cell with `%%sql` in order to run a SQL query. Place your code in the '# Your code here' lines. If you experience trouble connecting to the .db file, please ensure that you have the `pymysql` and `ipython-sql` packages installed. Also ensure that `sqlalchemy` is pinned at a version <2.*


Based on that data, answer the following questions:


### Question 11
What is the code you can use to connect to the TMBD database that is saved in the same location with the Jupyter notebook?

In [3]:
%%sql 
sqlite:///TMDB.db

### Question 12
What is the primary key for the table “movies”?

### Question 13
How many foreign keys does the “languagemap” table have?

### Question 14
What code would you use to set up a view of all movies that did not get released?

In [3]:
%%sql 
CREATE VIEW unreleased_movies AS
SELECT *
FROM movies
WHERE release_status != 'Released'
LIMIT 10;

 * sqlite:///TMDB.db
(sqlite3.OperationalError) view unreleased_movies already exists
[SQL: CREATE VIEW unreleased_movies AS
SELECT *
FROM movies
WHERE release_status != 'Released'
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Question 15
How would you select only the title, release date, and release status columns from the view you created in the previous question?

In [4]:
%%sql
SELECT title, release_date, release_status
FROM unreleased_movies
LIMIT 10;

 * sqlite:///TMDB.db
Done.

[('Little Big Top', '2006-01-01 00:00:00.000000', 'Rumored'),
 ('The Helix... Loaded', '2005-01-01 00:00:00.000000', 'Rumored'),
 ('Higher Ground', '2011-08-26 00:00:00.000000', 'Post Production'),
 ('Crying with Laughter', '2009-06-01 00:00:00.000000', 'Rumored'),
 ('The Harvest (La Cosecha)', '2011-07-29 00:00:00.000000', 'Rumored'),
 ('The Naked Ape', '2006-09-16 00:00:00.000000', 'Rumored'),
 ('Brotherly Love', '2015-04-24 00:00:00.000000', 'Post Production'),
 ("Dancin' It's On", '2015-10-16 00:00:00.000000', 'Post Production')]

### Question 16
How many movies are no longer using their original titles?

In [5]:
%%sql 
SELECT COUNT(*)
FROM movies
WHERE title != original_title;

 * sqlite:///TMDB.db
Done.

[(261,)]

### Question 17
What is the most popular movie that was made after 01/01/2000 with a budget of more than $100 000 000? (Hint: Use the popularity field in the Movies table. Larger numbers are more popular.)

In [13]:
%%sql 
SELECT title
FROM movies
WHERE release_date > '2000-01-01' AND budget > 100000000
ORDER BY popularity DESC
LIMIT 10;

 * sqlite:///TMDB.db
Done.

[('Interstellar',),
 ('Guardians of the Galaxy',),
 ('Mad Max: Fury Road',),
 ('Jurassic World',),
 ('Pirates of the Caribbean: The Curse of the Black Pearl',),
 ('Dawn of the Planet of the Apes',),
 ('The Hunger Games: Mockingjay - Part 1',),
 ('Big Hero 6',),
 ('Terminator Genisys',),
 ('Captain America: Civil War',)]

### Question 18
How many movies are there that do not have English as their original language?

In [14]:
%%sql 
SELECT COUNT(*)
FROM movies
WHERE original_language != 'en';

 * sqlite:///TMDB.db
Done.

[(298,)]

### Question 19
How many movies in the database were produced by Pixar Animation Studios?

In [26]:
%%sql 
SELECT COUNT(*)
FROM productioncompanymap
WHERE production_company_id = (SELECT production_company_id
                               FROM productioncompanies
                               WHERE production_company_name = 'Pixar Animation Studios');

 * sqlite:///TMDB.db
Done.

[(16,)]

### Question 20
How many movies are in the database that are both a Romance and a Comedy?

In [32]:
%%sql 
SELECT COUNT(*)
FROM movies m
JOIN genremap gm1 ON m.movie_id = gm1.movie_id
JOIN genres g1 ON gm1.genre_id = g1.genre_id
JOIN genremap gm2 ON m.movie_id = gm2.movie_id
JOIN genres g2 ON gm2.genre_id = g2.genre_id
WHERE g1.genre_name = 'Romance' AND g2.genre_name = 'Comedy';

 * sqlite:///TMDB.db
Done.

[(484,)]

### Question 21
What is the most popular action movie that has some German in it? (Hint: The German word for German is Deutsch)

In [34]:
%%sql 
SELECT m.title
FROM movies m
JOIN languagemap lm ON m.movie_id = lm.movie_id
JOIN languages l ON lm.iso_639_1 = l.iso_639_1
JOIN genremap gm ON m.movie_id = gm.movie_id
JOIN genres g ON gm.genre_id = g.genre_id
WHERE g.genre_name = 'Action' AND l.iso_639_1 = 'de'
ORDER BY m.popularity DESC
LIMIT 1;

 * sqlite:///TMDB.db
Done.

[('Captain America: Civil War',)]

### Question 22
In how many movies did Tom Cruise portray the character Ethan Hunt?

In [39]:
%%sql 
SELECT COUNT(*)
FROM movies m
JOIN casts c ON m.movie_id = c.movie_id
JOIN actors a ON c.actor_id = a.actor_id
WHERE a.actor_name = 'Tom Cruise' AND c.characters = 'Ethan Hunt';

 * sqlite:///TMDB.db
Done.

[(5,)]

### Question 23 
How many times was the actress Cate Blanchett nominated for an Oscar?

In [42]:
%%sql 
SELECT COUNT(*)
FROM oscars a
JOIN actors ac ON a.actor_id = ac.id
WHERE ac.actor_name = 'Cate Blanchett' AND a.award = 'Oscar' AND a.nominated = 1;

 * sqlite:///TMDB.db
(sqlite3.OperationalError) no such column: a.nominated
[SQL: SELECT COUNT(*)
FROM oscars a
JOIN actors ac ON a.actor_id = ac.id
WHERE ac.actor_name = 'Cate Blanchett' AND a.award = 'Oscar' AND a.nominated = 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Question 24
How many movies contain at least one of the official South African Languages, Afrikaans or Zulu?

In [8]:
%%sql
SELECT COUNT(*)
FROM movies m
JOIN languagemap lm ON m.movie_id = lm.movie_id
JOIN languages l ON lm.iso_639_1 = l.iso_639_1
WHERE l.iso_639_1 IN ('af', 'zu');

 * sqlite:///TMDB.db
Done.

[(11,)]

### Question 25
Which of the movies mentioned above is the most popular?

In [11]:
%%sql
SELECT m.title
FROM movies m
JOIN languagemap lm ON m.movie_id = lm.movie_id
JOIN languages l ON lm.iso_639_1 = l.iso_639_1
WHERE l.iso_639_1 IN ('af', 'zu')
ORDER BY m.popularity DESC
LIMIT 1;

 * sqlite:///TMDB.db
Done.

[('District 9',)]

### Question 26
What would be the code to change the name of the language with the ‘zh’ iso code in the “language” table to ‘Chinese’?

In [ ]:
%%sql 
# Your code here

### Question 27
What would be the code to insert a new genre called ‘Sport’ with an id of 10?

In [ ]:
%%sql 
# Your code here

### Question 28 
You have just watched The Flintstones movie and did not find it very funny. What code would delete the entry that links The Flintstones to the Comedy genre?

In [ ]:
%%sql 
# Your code here

### Question 29
What code will give the 10 most recently released movies in the database?

In [66]:
%%sql 
SELECT * 
FROM movies 
ORDER BY release_date 
DESC LIMIT 10;

 * sqlite:///TMDB.db
Done.

[(426469, 'Growing Up Smith', '2017-02-03 00:00:00.000000', 0, 'http://www.growingupsmithmovie.com', 'en', 'Growing Up Smith', '"In 1979, an Indian family moves to America with hopes of living the American Dream. While their 10-year-old boy Smith falls head-over-heels for the girl next door, his desire to become a ""good old boy"" propels him further away from his family\'s ideals than ever before."', 0.71087, 0.0, 102.0, 'Released', 'ItÆs better to stand out than to fit in.', 7.4, 7),
 (325373, 'Two Lovers and a Bear', '2016-10-02 00:00:00.000000', 0, None, 'en', 'Two Lovers and a Bear', 'Set in a small town near the North Pole where roads lead to nowhere, the story follows Roman and Lucy, two burning souls who come together to make a leap for life and inner peace.', 3.139294, 0.0, 96.0, 'Released', None, 6.8, 27),
 (374461, 'Mr. Church', '2016-09-16 00:00:00.000000', 8000000, None, 'en', 'Mr. Church', 'A unique friendship develops when a little girl and her dying mother inherit a cook - Mr. Church. What begins as an arrangement that should only last six months, instead spans fifteen years.', 7.828459, 0.0, 104.0, 'Released', 'He was the one person she could always count on.', 7.0, 129),
 (339408, 'The Birth of a Nation', '2016-09-09 00:00:00.000000', 8500000, 'http://www.foxsearchlight.com/thebirthofanation/', 'en', 'The Birth of a Nation', 'Nat Turner, a former slave in America, leads a liberation movement in 1831 to free African-Americans in Virgina that results in a violent retaliation from whites.', 9.452808, 15861566.0, 120.0, 'Released', 'The Untold Story of Nat Turner', 6.5, 178),
 (385736, 'Kicks', '2016-09-09 00:00:00.000000', 0, 'http://www.focusfeatures.com/kicks', 'en', 'Kicks', 'When his hard-earned kicks get snatched by a local hood, fifteen-year old Brandon and his two best friends go on an ill-advised mission across the Bay Area to retrieve the stolen sneakers.', 3.467923, 0.0, 80.0, 'Released', "They aren't just shoes", 7.5, 18),
 (332285, 'Antibirth', '2016-09-02 00:00:00.000000', 35000000, None, 'en', 'Antibirth', 'In a desolate community full of drug-addled Marines and rumors of kidnapping, a wild-eyed stoner named Lou wakes up after a crazy night of partying with symptoms of a strange illness and recurring visions. As she struggles to get a grip on reality, the stories of conspiracy spread.', 3.674294, 0.0, 94.0, 'Released', None, 4.8, 40),
 (184341, 'Hands of Stone', '2016-08-26 00:00:00.000000', 20000000, None, 'en', 'Hands of Stone', "The legendary Roberto Duran and his equally legendary trainer Ray Arcel change each other's lives.", 7.444189, 0.0, 105.0, 'Released', 'No mßs. No surrender.', 6.1, 109),
 (271969, 'Ben-Hur', '2016-08-17 00:00:00.000000', 100000000, 'http://www.benhurmovie.com/', 'en', 'Ben-Hur', 'A falsely accused nobleman survives years of slavery to take vengeance on his best friend who betrayed him.', 29.608322, 94061311.0, 125.0, 'Released', 'First to finish. Last to die.', 5.3, 621),
 (294272, "Pete's Dragon", '2016-08-10 00:00:00.000000', 65000000, 'http://movies.disney.com/petes-dragon-2016', 'en', "Pete's Dragon", 'Pete is a mysterious 10-year-old with no family and no home who claims to live in the woods with a giant, green dragon named Elliott. With the help o ... (42 characters truncated) ... r Jack owns the local lumber mill, forest ranger Grace sets out to determine where Pete came from, where he belongs, and the truth about this dragon.', 31.974359, 143695338.0, 102.0, 'Released', 'Some secrets are too big to keep.', 6.2, 679),
 (297761, 'Suicide Squad', '2016-08-02 00:00:00.000000', 175000000, 'http://www.suicidesquad.com/', 'en', 'Suicide Squad', 'From DC Comics comes the Suicide Squad, an antihero team of incarcerated supervillains who act as deniable assets for the United States government, undertaking high-risk black ops missions in exchange for commuted prison sentences.', 90.23792, 745000000.0, 123.0, 'Released', 'Worst Heroes Ever', 5.9, 7458)]

### Question 30
What code would you use to add a column to the language table that could be used for the English names of the different languages?

In [ ]:
%%sql 
# Your code here